html, body{
    margin: 0;
    height: 100%;

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;

}

#header{
    border: solid;
    color: white;
    padding: 2%;
    font-size: 4vw;
    border-radius: 25px;
    margin: 1%;


}


#calculator{
    display: flex;
    flex-direction: column;
    border:solid;
    background-color: black;
    padding: 2%;
    height: 35vw;
    width: 35vw;
    box-shadow: 10px 10px 16px #000000;


}


button{
    font-size: 2vw;
    margin: 3%;

}

#calculator > #display{
    height: 10%;
    text-align: right;
    font-size: 2vw;
}

#calculator > #buttons{

    display: flex;
    flex-direction: row;

    height: 90%;
}

#calculator > #buttons > .numbers{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 65%;
    min-height: 100%;

}


#calculator > #buttons > .symbols{

    display:grid;
    grid-template-columns: repeat(1, 1fr);

    width: 35%;
    min-height:100%;

}